.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden; /* Hidden by default */
  opacity: 0; /* Fully transparent initially */
  transition: opacity 0.3s ease;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Show buttons on hover */
.swiper:hover .custom-prev,
.swiper:hover .custom-next {
  visibility: visible;
  opacity: 1; /* Fade in */
}


/* Optional hover effect for buttons */
.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.custom-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .custom-dots .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .custom-dots .swiper-pagination-bullet-active {
    background-color: #1976d2;
    transform: scale(1.2);
  }


  @media (max-width: 768px) {
    .custom-prev,
    .custom-next {
      width: 30px;
      height: 30px;
    }
  
    .custom-dots .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
  }
  
  
