
.hamburger-menu {
  position: relative;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 3000;
  margin: -1rem 0 0;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.open {
  position: fixed;
  top: 45px;
  right: 35px;
}

.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.open .line:nth-child(2) {
  opacity: 0;
}
.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: width 0.5s ease;
  z-index: 1500;
}

.menu-overlay.open {
  width: 100%;
}

.menu {
  list-style: none;
  padding: 8.6rem 2rem 0; 
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 1rem 0;
  text-align: left;
}

.menu a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: color 0.3s ease;
}

.menu a:hover,
.active-link {
  color: orange;
}
